
.hlavicka {
    display: flex;
    flex-direction: column;
}

.hlavicka__logo {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.hlavicka__navigace {
    display: flex;
    justify-content: space-evenly;
}

.hlavicka__navigace__polozka {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem 0.4rem;
    text-decoration: none;
    color: #F03000;
    font-size: 1rem;
    font-weight: 600;
}

.hlavicka__navigace__polozka--zarovnani {
    text-align: center;
}

.hlavicka__navigace__polozka:hover,
.hlavicka__navigace__polozka:focus {
    background-color: #F03000;
    color: #ffffff;
}

@media screen and (min-width: 650px) {

    .hlavicka {
        flex-direction: row;
        min-height: 4rem;
    } 

    .hlavicka__logo {
        padding: 0;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .hlavicka__navigace {
        flex: 1;
    }

    .hlavicka__navigace__polozka {
        align-items: center;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 850px) {

    .hlavicka {
        justify-content: space-between;
    }

    .hlavicka__navigace {
        flex: 0 1 auto;
        width: 400px; 
    }

    .hlavicka__navigace__polozka {
        font-size: 1rem;
    }
}
