
.hlavicka__navigace__polozka {
    --padding: 1rem 0.4rem;
    --font-size-maly: 1rem;
    --font-size-stredni: 0.9rem;
    --font-size-velky: 1rem;
}

.hlavicka {
    display: flex;
    flex-direction: column;
}

.hlavicka__nadpis {
    display: none;
}

.hlavicka__logo {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.hlavicka__navigace {
    display: flex;
}

.hlavicka__navigace__polozka {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: var(--padding);
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-size-maly);
    font-weight: 600;
}

.hlavicka__navigace__polozka:hover,
.hlavicka__navigace__polozka:focus {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

@media screen and (min-width: 650px) {

    .hlavicka {
        flex-direction: row;
        min-height: 4rem;
    } 

    .hlavicka__logo {
        padding: 0;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 1.2rem;
    }

    .hlavicka__navigace {
        flex: 1;
    }

    .hlavicka__navigace__polozka {
        align-items: center;
        font-size: var(--font-size-stredni);
    }
}

@media screen and (min-width: 850px) {

    .hlavicka {
        justify-content: space-between;
    }

    .hlavicka__navigace {
        flex: 0 1 auto;
        width: 25rem; 
    }

    .hlavicka__navigace__polozka {
        font-size: var(--font-size-velky);
    }
}
