
.nabidka {
    display: grid;
    gap: 1rem;
}

.nabidka__zajezd {
    background-color: #B0C4DE;
    background-image: 
        linear-gradient(hsla(0 0% 0% / 0.3), hsla(0 0% 0% / 0.3)), 
        var(--bg-nabidka);
    background-position: center 80%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    color: #ffffff;
}

.nabidka__zajezd--palmy {--bg-nabidka: url('podklady/palmy.jpg');}
.nabidka__zajezd--jezero {--bg-nabidka: url('podklady/jezero.jpg');}
.nabidka__zajezd--kolo {--bg-nabidka: url('podklady/nakole.jpg');}
.nabidka__zajezd--romantika {--bg-nabidka: url('podklady/lodicka.jpg');}
.nabidka__zajezd--canyon {--bg-nabidka: url('podklady/podkova.jpg');}
.nabidka__zajezd--kanary {--bg-nabidka: url('podklady/zatoka.jpg');}

.nabidka__zajezd--hlavni {
    min-height: 220px;
    background-position: center;
}

.nabidka__zajezd--ostatni {
    min-height: 160px;
}
 
.nabidka__zajezd__cena,
.nabidka__zajezd__nazev,
.nabidka__zajezd__text {
    margin: 0;
    line-height: 2rem;
}

.nabidka__zajezd__cena {
    font-weight: 500;
}

.nabidka__zajezd__cena--barva {
    background-color: #F03000;
    padding: 0.5rem;
    font-size: 0.9rem;
}




@media screen and (min-width: 500px) {

.nabidka {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    }

.nabidka__zajezd--hlavni {
    grid-column: 1 / -1;
    grid-row: span 2;
    }
}