
.nabidka {
    display: grid;
    gap: var(--gap);
}

.nabidka__zajezd {
    background-color: #B0C4DE;
    background-image: 
        linear-gradient(hsla(0 0% 0% / 0.3), hsla(0 0% 0% / 0.3)), 
        var(--bg-nabidka);
    background-position: center 80%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    color: #ffffff;
}

.nabidka__zajezd--palmy {--bg-nabidka: url('podklady/palmy.jpg');}
.nabidka__zajezd--jezero {--bg-nabidka: url('podklady/jezero.jpg');}
.nabidka__zajezd--kolo {--bg-nabidka: url('podklady/nakole.jpg');}
.nabidka__zajezd--romantika {--bg-nabidka: url('podklady/lodicka.jpg');}
.nabidka__zajezd--canyon {--bg-nabidka: url('podklady/podkova.jpg');}
.nabidka__zajezd--kanary {--bg-nabidka: url('podklady/zatoka.jpg');}

.nabidka__zajezd--hlavni {
    min-height: 250px;
    background-position: center;
}

.nabidka__zajezd--ostatni {
    min-height: 150px;
}
 
.nabidka__zajezd__cena,
.nabidka__zajezd__nazev {
    margin: 0;
    line-height: 1.8rem;
}

.nabidka__zajezd__cena,
.nabidka__zajezd__text {
    font-weight: 500;
}

.nabidka__zajezd__text {
    line-height: 1.5rem;
}

.nabidka__zajezd__cena--barva {
    background-color: #F03000;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.nabidka__nadpis {
    margin: 1.2rem 0;
}

@media screen and (min-width: 650px) {

.nabidka--prvni {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    }

.nabidka--druha {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    }

.nabidka__zajezd--hlavni {
    grid-column: 1 / -1;
    grid-row: span 2;
    min-height: 280px;
    }

.nabidka__zajezd--ostatni {
    min-height: 170px;
    }

.nabidka__zajezd__meta {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    }
}

@media screen and (min-width: 850px) {

    .nabidka--prvni {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .nabidka--druha {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
    }

    .nabidka__zajezd--vlevo {
        grid-column: 1 / span 2;
    }

    .nabidka__zajezd--vpravo {
        grid-column: 2 / span 2;
    }

    .nabidka__nadpis {
        grid-column: 1 / -1;
        margin: 0;
    }

    .nabidka__zajezd--canyon {
        grid-area: 2 / 1;
    }
}
