
.novinky__polozka {
    --height-maly: 12rem;
    --height-velky: 14rem;
    --padding-maly: 0.8rem 1.1rem;
    --padding-stredni: 0.9rem 1.5rem;
    --padding-velky: 0.6rem 0.9rem;
}

.novinky__polozka__datum {
    --color-datum: #5a5858;
}

.novinky__polozka__nazev {
    --font-size-maly: 1rem;
    --font-size-stredni: 1.1rem;
    --font-size-velky: 1rem;
}

.novinky__polozka__text {
    --font-size-maly: 0.9rem;
    --font-size-stredni: 1rem;
    --font-size-velky: 0.9rem;
}

.novinky {
    display: grid;
    gap: var(--gap);
    margin: 2rem 0;
}

.novinky__polozka {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: var(--height-maly);
    padding: var(--padding-maly);
    background-color: var(--bg-color-secondary);
}

.novinky__polozka__nazev,
.novinky__polozka__text {
    margin: 0;
}

.novinky__polozka__nazev {
    color: var(--color-primary);
    font-size: var(--font-size-maly);
}

.novinky__polozka__text {
    font-size: var(--font-size-maly);
    font-weight: 600;
}

.novinky__polozka__datum {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-datum);
}

.novinky__nadpis {
    margin: 1.2rem 0;
}

@media screen and (min-width: 650px) {

    .novinky__polozka {
        padding: var(--padding-stredni);
    }

    .novinky__polozka__nazev {
        font-size: var(--font-size-stredni);
    }

    .novinky__polozka__text {
        font-size: var(--font-size-stredni);
    }
}

@media screen and (min-width: 850px) {

    .novinky {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
    }

    .novinky__polozka {
        grid-row: 2;
        min-height: var(--height-velky);
        padding: var(--padding-velky);
    }
    
    .novinky__polozka__nazev {
        display: flex;
        align-items: center;
        min-height: 2.2rem;
        font-size: var(--font-size-velky);
    }

    .novinky__polozka__text {
        min-height: 5.5rem;
        font-size: var(--font-size-velky);
    }
}
