
.sluzby {
    display: grid;
}

.sluzby__druh {
    display: flex;
}

.sluzby__druh__meta {
    display: flex;
    flex-direction: column;
}

.sluzby__druh__nazev,
.sluzby__druh__text {
    margin: 0;
}