
.sluzby {
    display: grid;
    gap: 1rem;
    margin: 2rem 0;
}

.sluzby__druh {
    display: flex;
    min-height: 7rem;
    padding: 0.8rem 1.3rem;
    background-color: #e0dcdc;
}

.sluzby__druh__meta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sluzby__druh__nazev,
.sluzby__druh__text {
    margin: 0;  
    padding: 0 2rem;
}

.sluzby__druh__nazev {
    font-size: 1rem;
    color: #F03000;
}

.sluzby__druh__text {
    font-size: 0.9rem;
    font-weight: 500;
}

.sluzby__druh__logo {
    padding-top: 0.5rem;
}

@media screen and (min-width: 650px) {
    .sluzby {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .sluzby__druh {
        flex-direction: column;
        justify-content: space-between;
        min-height: 12rem;  
        padding: 1rem 1.3rem;
    }

    .sluzby__druh__meta {
        min-height: 8rem;
        padding: 0;
    }

    .sluzby__druh__nazev,
    .sluzby__druh__text {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .sluzby__druh__text {
        text-align: center;
        min-height: 3.4rem;
    }

    .sluzby__druh__logo {
        padding-top: 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 850px) {
    .sluzby {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .sluzby__druh__text {
        min-height: 4rem;
    }

    .sluzby__druh__nazev {
        font-size: .9rem;
    }

    .sluzby__druh__text {
        font-size: .8rem;
    }
}